node_modules
.vscode
.next
.DS_Store
.env
data
.build
vpskey.*
.env
.env.local
.env.development
.env.test
.env.production
*.pem
*.pem.pub
templates
*.cpuprofile
tsconfig.tsbuildinfo
*.dump
pgdump*
android/.gradle
.specstory
